.table{
    margin-top:20px;
    overflow: scroll;
    height: 400px;
    color:#6a5d5d;
    background-color: #fff;
}
.table tr{
    display:flex;
    justify-content: space-between;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}
.table td{
    padding: 0.5rem;
}
.table td:nth-of-type(even){
    font-weight: 700;
}